# Database Configuration
DB_USER_NAME=ericardio
DB_PASSWORD=admin
DB_URL=jdbc:jdbc:postgresql://localhost:5432/ericardiodb

# MinIO / S3 Configuration
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_KEY=minioadmin
AWS_S3_URL=127.0.0.1:9000

# Security Configuration (JWT)
SECRET_VALUE=QSAu1DXIdsEeoBS1MPKIP3JYtjErJFg7L3ReUn4h6OBc8OTMrs911EcExNsmYHiOlhQ9nIIKTIFRihMLXq0nmQ
JWT_EXPIRATION_TIME=3600000